main {
  background-color: rgba($color: #fff, $alpha: 0.7);
}

.title {
  text-align: center;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 10px;
}

.input {
  margin-bottom: 10px;
}

.input,
.output {
  text-align: center;
}
